!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "A Chess, Backgammon, Dominoes, Cribbage, Mah Jongg, Party, Word, Strategy, Card &amp; Sports Game &amp; Puzzel Store in Harvard Square", :name => "description"}/
    %meta{:content => "", :name => "author"}
    %meta{:content => "Board games, Settlers of Catan, Ticket to Ride, Pandemic, Party games, Apple to Apples, Dixit, Wise and Otherwise, Word games, Scrabble, Bananagrams, Quiddler, Abstract Strategy, Hive, Mastermind, Quoridor, Card Games, Set, Lost Cities, Dominion, Sports Games, Stratomatic Baseball, Boules, Croquet, Mechanical Puzzles, Japanese Puzzle Boxes, Hanayama Cast Puzzles, Think Fun, Jigsaw Puzzles, Ravensburger, educa, clementoni, springbok, pomagranate, Liberty Puzzles, Michele Wilson, Chess, Staunton, Isle of Lewis, Backgammon, Dominoes, Cribbage, MahJongg, Go, Shogi, Chinese Chess, Playing Cards, Poker, Bridge, Pinochle, Canasta, Bee, Bicycle, Kem, Piatnik, Mondiano, Dal Negro, Tarot, Ravensburger, Gamewright, Think Fun, Hasbro, Pressman, Mattel, Constructions, Nnef, Piperods, Ball of Whacks, Bucky Balls", :name => "keywords"}
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title The Game and Puzzle Store in Harvard Square
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner.cover
            %h1.cover-heading The Games People Play
            %p.lead Games &amp; Puzzles for adults
            %p.content New website coming soon, please call us any time!
            %ul.address
              %li 1100 Massachusetts Ave.
              %li Cambridge, MA 02138
              %li 1 (617) 492-0711

          .mastfoot
            .inner
    %ttn
      %ttn_inner
